/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .hero {
      width: 70vw;
  }
    .halo-container{
        width: 800px;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  
 .hero {
    width: 400px;
     margin-left: 0;

  }

   
    .halo-container{
        width: 2200px;
        padding: 0;
    }
  
}